h1,h2,h3,h4,h5,.h1,.h2,.h3,.h4,.h5 {
  font-family: $font_title;
  font-weight: 300;
  text-transform: uppercase;
}

h1,.h1 {
  font-size: 3em;
}
h2,.h2 {
  font-size: 2.5em;
}
h3,.h3 {
  font-size: 2em;
}
h4,.h4 {
  font-size: 1.5em;
}
h5,.h5 {
  font-size: 1.25em;
}
h6,.h6 {
  font-size: 1em;
  font-weight: bold;
}

.display1 {}
.display2 {}
.display3 {}

figure {
  margin: 0;
}

ul {
  list-style-type: circle;
}

code {
  background: rgba(0,0,0,0.07);
  color: rgba(0,0,0,0.7);
}

pre {
  background: rgba(0,0,0,0.07);
  padding: 0.5em 1em;
  code {
    background: none;
  }
}

body {
  min-height: 100vh;
  // background: linear-gradient(to bottom, rgba(255,250,245,0.75) 0, rgba(255,250,245,0.75) 100%), url(../img/paper.jpg);
  // background: linear-gradient(to bottom, rgba(252,250,248,0.75) 0, rgba(252,250,248,0.75) 100%), url(../img/paper.jpg);
  background: linear-gradient(to bottom, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 500px),
    linear-gradient(to top, rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 500px),
    linear-gradient(to bottom, rgba(252,250,248,0.75) 0, rgba(252,250,248,0.75) 100%),
    url(../img/paper.jpg);
  // background: rgba(253,250,247,1);

  display: grid;

  grid-template-columns: 8rem 1fr;
  grid-template-rows: 3rem 2rem 8rem auto 2rem 1fr 2rem auto;
  grid-template-areas:
  "n n"
  ". ."
  "h ."
  ". ."
  ". ."
  "m m"
  ". ."
  "f f";

  @include min(640) {
    grid-template-columns: 1fr 7rem minmax(11rem, 56rem) 1rem 2rem 4rem minmax(2rem, 1fr);
    grid-template-rows: 2rem 3.5rem 4.5rem minmax(0px, auto) 2rem 1fr 2rem auto 2rem;
    grid-template-areas:
    ". . . . . n ."
    "h h . . . n ."
    "h h . . . . ."
    ". . . . . . ."
    ". . . . . . ."
    "m m m m m m m"
    ". . . . . . ."
    ". f f f f f f"
    ". . . . . . .";
  }

  &.kind-home {
    grid-template-columns: 1fr;
    grid-template-rows: 3rem auto 2rem 1fr 2rem auto;
    grid-template-areas:
    "n"
    "h"
    "."
    "m"
    "."
    "f";

    @include min(640) {
      grid-template-columns: 1fr 7rem minmax(11rem, 56rem) 1rem 2rem 4rem minmax(2rem, 1fr);
      grid-template-rows: 2rem 3.5rem 4.5rem minmax(0px, auto) 2rem 1fr 2rem auto 2rem;
      grid-template-areas:
      ". . . . . n ."
      "h h h h . n ."
      "h h h h . . ."
      "h h h h . . ."
      ". . . . . . ."
      "m m m m m m m"
      ". . . . . . ."
      ". f f f f f f"
      ". . . . . . .";
    }
  }


}

.siteheader {
  background: black;
  grid-area: h;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) 7rem;
  z-index: 2;
  min-width: 8rem;
  & > .inner {
    grid-column: 2 / 3;
  }

  .kind-home & {
    display: grid;
    grid-template-columns: minmax(0.5rem, 1fr) 7rem minmax(11rem, 56rem) 0.5rem;
    min-width: 20rem;
    padding: 1rem 0;

    @include min(640) {
      grid-template-columns: minmax(1rem, 1fr) 7rem minmax(11rem, 56rem) 1rem;
    }

    & > .inner {
      color: white;
      grid-column: 2 / 4;
    }
    h1 {
      margin: 1rem 0;

      line-height: 1.5;
      font-weight: 700;
      font-size: 4em;
      // @include between(font-size, 3.5em, 6em);

      background: url(../img/logo2.min.svg) no-repeat left top;
      background-size: 1.5em;
      padding: calc(1.5em + 0.5rem) 0 0 0;

      @include min(768) {
        background-position: left center;
        padding: 0 0 0 calc(1.5em + 1rem);
      }

    }
    p {
      max-width: 40em;
      margin: 1rem 0;

      @include between(font-size, 0.875em, 1.25em);
    }
  }

  .logo {
    width: 6rem;
    height: 6rem;
    margin: 1rem 0;
  }
}

.pageheader {
  position: relative;
  z-index: 1;
  background: rgba(0,0,0,0.85);
  grid-area: 2 / 1 / 5 / -1;
  background-position: center;
  background-size: cover;
  border-bottom: 1rem solid white;

  display: grid;
  grid-template-rows: 11.5rem minmax(0px, auto) 1.5rem;
  grid-template-columns: minmax(0.5rem, 1fr) minmax(18rem, 70rem) minmax(0.5rem, 1fr);
  // grid-template-columns: minmax(0.5rem, 1fr) 7rem minmax(11rem, 56rem) 7rem minmax(2rem, 1fr);
  grid-template-areas:
    ". . ."
    ". t ."
    ". . .";

  @include min(640) {
    grid-area: 1 / 1 / 5 / -1;

    grid-template-rows: 11.5rem minmax(0px, auto) 2rem;
    grid-template-columns: minmax(1rem, 1fr) minmax(18rem, 70rem) minmax(1rem, 1fr);
  }

  @include min(776) {
    grid-template-rows: 12.5rem minmax(0px, auto) 3rem;
  }

  .type-page & {
    grid-template-rows: 12.5rem minmax(0px, auto) 3rem;
  }

  .inner {
    position: relative;
    grid-area: t;
  }

  h1 {
    margin: 0;
    line-height: 1.2;
    @include between(font-size, 2.5em, 4em);
    font-weight: 700;
    color: white;
    text-shadow: 0 0 1rem rgba(0,0,0,1);
    .type-page & {
      @include between(font-size, 3em, 6em);
    }
  }

  .subtitle {
    position: absolute;
    top: calc(100% + 1.5rem);
    left: 0;
    margin: 0;
    padding: 0 0.5rem;
    background: rgba(255,255,255,1);
    transform: translateY(-33%);
    @include between(font-size, 1.5rem, 2rem, 20rem, 80rem);

    @include min(640) {
      top: calc(100% + 2rem);
    }
    @include min(776) {
      top: calc(100% + 3rem);
    }
  }
}

.headerimage_credit {
  position: absolute;
  top: 0.5rem; right: 0.5rem;
  font-family: sans-serif;
  @include between(font-size, 0.625rem, 0.8125rem, 20rem, 80rem);
  font-style: italic;
  text-shadow: 1px 1px 0 rgba(0,0,0,1), -1px 1px 0 rgba(0,0,0,1), -1px -1px 0 rgba(0,0,0,1), 1px -1px 0 rgba(0,0,0,1);
  text-shadow: 0 0 0.25rem rgba(0,0,0,1), 0 0 0.5rem rgba(0,0,0,0.75), 0 0 1rem rgba(0,0,0,0.5);

  a {
    background: none;
    color: white;
    text-decoration: none;
    &:hover {
      background: none;
      color: white;
    }
  }

  @include min(640) {
    top: auto; bottom: 0.5rem; right: 0.5rem;
  }
}

.sitenav {
  position: sticky;
  top: 0;
  grid-area: n;
  z-index: 3;
  background: white;
  // display: flex;
  // justify-content: flex-end;
  // flex-direction: column;
}

.sitenav__toggle {
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  transition: 250ms;
  box-shadow: 0 0 0 0 black inset;
  @include min(640) {
    margin: 2rem auto 0;
  }
  &:hover {
    background: black;
    box-shadow: 0 0 0 0.5rem black inset;
    span, &:before, &:after {
      background: white;
    }
  }
  span, &:before, &:after {
    position: absolute;
    display: block;
    width: 1.5rem;
    height: 1px;
    left: 50%;
    background: black;
    transform: translateX(-50%);
    transition: 250ms;
  }
  span {
    top: 50%;
    text-indent: -999px;
  }
  &:before, &:after {
    content: "";
  }
  &:before {
    top: calc(50% - 0.5rem);
  }
  &:after {
    top: calc(50% + 0.5rem);
  }
}

.pagination {
  grid-column: 1 / 3;
  margin: 0;

  display: grid;
  grid-template-columns: minmax(0.5rem, 1fr) minmax(19.5rem, 45rem);

  @include min(640) {
    grid-template-columns: minmax(1rem, 1fr) minmax(25rem, 45rem);
  }

  &:before {
    content: "";
    display: block;
    grid-column: 1 / 2;
    background: rgba(255,255,255,1);
  }

  ul {
    grid-column: 2 / 3;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }

  li {
    background: rgba(255,255,255,1);
    padding: 0.5rem 0;
  }

  a {
    display: block;
    margin: 0 0.5rem 0 0;
    padding: 0.25rem 0.5rem;

    // color: black;
    text-shadow: 0 0 0 rgba(100,255,0,1), 0 0 0 rgba(255,0,0,1), 0 0 0 rgba(0,0,255,1);
    transition: 0.75s;
    &:hover {
      color: transparent;
      background: none;
      transition: 0.25s;
      text-shadow: 0.25rem -0.15rem 0 rgba(100,255,100,1), 0.3rem 0.2rem 0 rgba(255,100,100,1), -0.25rem -0.05rem 0 rgba(100,100,255,1);
    }
  }
}

.sitefooter {
  grid-area: f;
  background: white;
}

.colophon {
  p {
    margin: 0 0 1em;
  }

  .license-icons {
    a {
      color: rgba(102,102,102,1);
      text-decoration: none;
      transition: 0.25s;
      &:hover {
        color: inherit;
      }
    }
  }

  .license {
    margin: 0;
    text-align: justify;
    @include between(font-size,0.5rem, 0.625rem, 20rem, 80rem);
    color: rgba(102,102,102,1);
    a {
      color: rgba(34,34,34,1);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
