main {
  p,
  ul,
  ol,
  figure,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  blockquote,
  table,
  dl,
  pre,
  hr,
  > div {
    grid-column: 2 / 3;
  }

  p,
  ul,
  ol,
  figure,
  blockquote,
  table,
  dl,
  pre,
  hr,
  > div {
    margin: 0 0 1.2em;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0.5em 0 0;
  }

  h2,
  h3.h2,
  h4.h2,
  h5.h2,
  h6.h2 {
    margin-bottom: 0.48em;
  }

  h3,
  h2.h3,
  h4.h3,
  h5.h3,
  h6.h3 {
    margin-bottom: 0.6em;
  }

  h4,
  h2.h4,
  h3.h4,
  h5.h4,
  h6.h4 {
    margin-bottom: 0.8em;
  }

  h5,
  h2.h5,
  h3.h5,
  h4.h5,
  h6.h5 {
    margin-bottom: 0.96em;
  }

  h6,
  h2.h6,
  h3.h6,
  h4.h6,
  h5.h6 {
    margin-bottom: 1.2em;
  }

  p {
    line-height: 1.8;
  }

  pre {
    overflow: auto;
  }

  ul,
  ol {
    padding: 0 0 0 1.5em;
  }

  table {
    border: 1px solid #222;
    border-collapse: collapse;
  }

  th,
  td {
    border: 1px solid #222;
  }

  blockquote {
    padding: 0.5em 1em;
    background: rgba(255, 255, 255, 0.5);
    font-size: 0.875em;

    p {
      margin: 0.5em 0;
    }

    cite {
      display: block;
      text-align: right;

      &::before {
        content: '-';
      }
    }
  }

  a {
    background: rgba(255, 255, 255, 1);
    color: inherit;
    text-decoration: none;
    transition: 0.25s;

    &:hover {
      background: rgba(0, 0, 0, 1);
      color: rgba(255, 255, 255, 1);
    }
  }

  h3 a,
  h2 a {
    background: none;
    color: inherit;
    transition: 0.25s;

    &:hover {
      background: none;
      color: inherit;
    }
  }
} // main

.footnotes {
  font-size: 0.75em;

  a {
    background: none;

    sup {
      background: rgba(255, 255, 255, 1);
    }

    &:hover {
      background: none;

      sup {
        background: rgba(0, 0, 0, 1);
      }
    }
  }
}

.lede + p::first-letter {
  float: left;
  margin: 0.33em 0.5rem 0 0;
  font-size: 5.6em;
  line-height: 0.33;
  // color: white;
  // text-shadow: 0 0 0.5rem rgba(0,0,0,0.5);
}

// .lede + p:first-line {
//   font-variant: small-caps;
// }

.kind-page .lede,
.well {
  position: relative;
  grid-column: 2 / 4;
  max-width: 55rem;
  margin: 0.8em 0 2.4em;
  padding: 0.8em;
  background: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1), 0 0 2rem rgba(255, 255, 255, 0.33) inset;

  &::before {
    content: '';
    position: absolute;
    top: -10rem;
    left: -10rem;
    z-index: -1;
    display: block;
    width: 788px;
    max-width: calc(100% + 10.5rem);
    height: 600px;
    background: url('../img/paint1.png');
    // opacity: 0.33;
  }
}

.well {
  p {
    margin: 0;
  }
}

.kind-home {
  .posts,
  .arts {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    grid-column: 2 / 4;

    h2 {
      grid-column: 1 / -1;
      border-bottom: 0.25em solid #fff;
      border-bottom: 3px solid #222;
    }

    // &:after {
    //   content: "";
    //   display: block;
    //   width: 4rem;
    //   height: 4rem;
    //   background: url(../img/logo2.min.svg) no-repeat center/contain;
    //   justify-self: center;
    //   align-self: center;
    //   transform: rotate(4deg);
    //   grid-column: 1 / -1;
    // }

    @include min(640) {
      grid-template-columns: 1fr 1fr;
    }

    @include min(776) {
      grid-template-columns: 1fr 1fr 1fr;
      // &:after {
      //   content: "";
      //   display: none;
      // }
    }
  }

  .post {
    padding-bottom: 2rem;
    // margin: 0 0 1.2em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    &:last-child {
      padding-bottom: 0;
      border-bottom-width: 0;
    }

    h3 {
      margin-top: 0;
    }

    figure {
      position: relative;
    }

    @include min(640) {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .post-0 {
    grid-column: 1 / -1;

    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  @include min(640) {
    .post {
      font-size: 0.75em;
    }

    .post-0 {
      padding-bottom: 2rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);
      font-size: 1em;
    }

    .post-2,
    .post-3 {
      position: relative;
    }

    .post-2::before,
    .post-3::before,
    .post-3::after {
      content: '';
      position: absolute;
      // transform: translateY(-50%);
      display: block;
      width: 1px;
      height: calc(100% + 1rem);
      background: rgba(0, 0, 0, 0.25);
    }

    .post-2::before {
      top: -1rem;
      left: -1rem;
    }

    .post-3::before {
      top: -1rem;
      left: calc(100% + 1rem);
    }

    .post-3::after {
      top: -1rem;
      left: 0;
      width: calc(100% + 1rem);
      height: 1px;
    }
  }

  @include min(776) {
    .post-3::before {
      left: -1rem;
      display: block;
    }

    .post-3::after {
      display: none;
    }
  }
}

.kind-section {
  .post {
    figure {
      position: relative;
      margin-top: 2.4em;
    }
  }

  .post:nth-child(2) {
    h2 {
      margin-top: 0;
    }

    figure {
      margin-top: 0;
    }
  }
}

.post-meta {
  &.post-meta-top {
    grid-column: 2 / 4;
    max-width: 55rem;
    font-size: 0.875em;

    .inner {
      display: inline-block;
      padding: 0.5em;
      background: rgba(255, 255, 255, 0.5s);
    }

    @include min(640) {
      margin-top: -1.2em;
      text-align: right;
    }

    @include min(776) {
      margin-top: -2rem;

      .inner {
        background: #fff;
      }
    }
  }
}

.date {
  font-style: italic;
  // font-size: 0.875em;
}

.author {
  font-style: italic;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  list-style: none;
  margin: 0 0 1.37em;
  padding: 0;
  font-size: 0.875rem;

  li {
    margin-right: 0.5rem;
  }

  a {
    display: block;
    padding: 0.25rem 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    color: inherit;
  }
}

.readmore {
  display: inline-block;
  padding: 0.5em;
  background: transparent;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  color: inherit;
}

.task-list {
  list-style: none;
  padding: 0;
}
