.contact-form-input {
  margin: 0 0 1em;
}

.contact-form-input__label {
  display: block;
}

.contact-form-input__input--text,
.contact-form-input__input--email,
.contact-form-input__input--textarea {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 0;
  border-radius: 0.25em;
  background: #fff;
}

.contact-form-input__input--textarea {
  height: 8em;
}

.contact-form-input__input--submit {
  padding: 0.25em 1em;
  border: 0;
  border-radius: 0.25em;
  background: $contrastColorPink;
  color: #fff;
  font-size: 1.25em;
  transition: 0.25s;

  &:hover {
    background: #fff;
    color: $contrastColorPink;
  }
}
