/*
 *  MIXINS & IMPORTS & VARIABLES
 */

@import 'media-queries';
@import 'math';

@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700');
@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,700');

$font_title: 'Oswald', sans-serif;
$font_body: 'Libre Baskerville', serif;

$contrastColorPink: #e12d82;

/*
 *  RESETS
 */

@import 'reset';

img {
  max-width: 100%;
}

// Some more resets

html {
  color: #222;
  font-family: $font_body;
  font-size: 1em;
  line-height: 1.5;
}

html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

// A better looking default horizontal rule

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc;
}

// Remove default fieldset styles.

fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}

/*
 *  MAIN STYLES
 */

@import 'base';
@import 'content';
@import 'alignment';
@import 'shortcodes';
@import 'temp';

/*
 *  OTHER STYLES
 */

@import 'helpers';
@import 'print';
