{{ define "main" }}

{{ with .Content }}
  <div class="well">
    {{.}}
  </div>
{{ end }}

{{ range .Paginator.Pages }}
  {{ if not .Params.hideinlisting }}
    <div class="post">
      <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
      <div class="summary">
        {{ .Summary }}
      </div>

      {{ if .Truncated }}
        <!-- This <div> includes a read more link, but only if the summary is truncated... -->
        <div>
          <a href="{{ .Permalink }}" class="readmore h5">Read More &raquo;</a>
        </div>
      {{ end }}
    </div>
  {{ end }}
{{ end }}

{{ partial "pagination.html" . }}

{{ end }}
