<footer class="sitefooter">
  <div class="inner">
    <div class="footer-sns">
      <h3 class="h4">SNS</h3>
      <ul>
        <li><a href="https://twitter.com/lgrqvst"><i class="fab fa-twitter"></i> Twitter</a></li>
        <li><a href="https://www.instagram.com/lgrqvst/"><i class="fab fa-instagram"></i> Instagram</a></li>
        <li><a href="https://github.com/lgrqvst"><i class="fab fa-github-alt"></i> GitHub</a></li>
        <li><a href="https://codepen.io/lgrqvst/"><i class="fab fa-codepen"></i> CodePen</a></li>
        <li><a><i class="far fa-envelope"></i> lgrqvst at gmail dot com</a></li>
      </ul>
    </div>

    <div class="footer-toc">
      <h3 class="h4">Content</h3>
      <nav class="sitenav-footer">
        <ul>
          <li><a href="{{ "/" | absURL }}">Home</a></li>
          <li><a href="{{ "about/" | absURL }}">About</a></li>
          <li><a href="{{ "now/" | absURL }}">Now</a></li>
          <li><a href="{{ "contact/" | absURL }}">Contact</a></li>
          <li><a href="{{ "todo/" | absURL }}">To Do</a></li>
          <li><a href="{{ "post/" | absURL }}">Posts</a></li>
          <li><a href="javascript:;">Art</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer-categories">
      <h3 class="h4">Categories</h3>
      <ul>
        {{range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
           <li><a href="{{.Permalink}}">{{.Title}}</a></li>
        {{end}}
      </ul>
    </div>

    <div class="footer-tags">
      <h3 class="h4">Tags</h3>
      <ul>
        {{range ($.Site.GetPage "taxonomyTerm" "tags").Pages }}
           <li><a href="{{.Permalink}}" class="tag">{{.Title}}</a></li>
        {{end}}
      </ul>
    </div>

    <div class="colophon">
      <p>Made with <i class="far fa-heart"></i> in Osaka.</p>

      <div class="license-icons">
        <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">
          <i class="fab fa-creative-commons"></i>
          <i class="fab fa-creative-commons-by"></i>
          <i class="fab fa-creative-commons-nc"></i>
          <i class="fab fa-creative-commons-sa"></i>
        </a>
      </div>

      <p class="license">Except where otherwise noted, <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">LGRQVST</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="https://lgrqvst.com" property="cc:attributionName" rel="cc:attributionURL">Johan Lagerqvist</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.</p>
    </div>
  </div>
</footer>
