{{ if .IsHome }}

<header class="siteheader">
  <div class="inner">
    <!-- <img src="img/logo2.min.svg" class="logo" alt="LGRQVST logo"> -->

    <h1>Lgrqvst</h1>
    <p>This is lgrqvst.com, online home of me, Johan Lager­qvist, a Swe­dish <del>web de­sign­er</del> <del>graph­ic de­sign­er</del> <del>web de­velop­er</del> <del>pro­gram­mer</del> <del>game de­sign­er</del> <del>writer</del> <del>novelist</del> <del>trans­lator</del> <del>musi­cian</del> <del>painter</del> <del>illustrator</del> <del>artist</del> <del>car­toon­ist</del> <del>maker</del> <del>creator</del> pro­crasti­nator currently liv­ing and work­ing in Osaka, Japan.</p>
  </div>
</header>

{{ else }}

<header class="siteheader">
  <div class="inner">
    <a href="" title="Home"><img src="img/logo.png" alt=""></a>
  </div>
</header>

{{ end }}
