{{ if .IsHome }}

<header class="siteheader">
  <div class="inner">
    <!-- <img src="img/logo2.min.svg" class="logo" alt="LGRQVST logo"> -->

    <h1>Lgrqvst</h1>
    <p>This is lgrqvst.com, online home of me, Johan Lager­qvist, a Swe­dish <del>web de­sign­er</del> <del>graph­ic de­sign­er</del> <del>web de­velop­er</del> <del>pro­gram­mer</del> <del>game de­sign­er</del> <del>writer</del> <del>novelist</del> <del>trans­lator</del> <del>musi­cian</del> <del>painter</del> <del>illustrator</del> <del>artist</del> <del>car­toon­ist</del> <del>maker</del> <del>creator</del> pro­crasti­nator currently liv­ing and work­ing in Osaka, Japan.</p>
  </div>
</header>

{{ else }}

{{ $headerimage_src := .Param "headerimage_src" | default ""}}
{{ $headerimage_credit := .Param "headerimage_credit" | default ""}}
{{ $headerimage_credit_url := .Param "headerimage_credit_url" | default ""}}

<div class="siteheader">
  <div class="inner">
    <a href="https://lgrqvst.com" title="Home"><img src="{{ "img/logo2.min.svg" | absURL}}" alt="LGRQVST logo" class="logo"></a>
  </div>
</div>

<header class="pageheader" style="background-image: url({{ $headerimage_src }})">
  <div class="inner">
    <h1>{{ .Title }}</h1>
  </div>

  {{ if isset .Params "headerimage_credit" }}
    <a href="{{ if isset .Params "headerimage_credit_url" }}{{ $headerimage_credit_url }}{{ else }}javascript:;{{ end }}" target="_blank" class="headerimage_credit">
      {{ $headerimage_credit }}
    </a>
  {{ end }}
</header>

{{ end }}
