{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
  <div class="pagination">
    <ul>
      {{ if .Paginator.HasPrev }}
        <li class="first">
          <a href="{{ .Paginator.First.URL | absURL }}" class="h5">&larr; Newest</a>
        </li>
        <li class="previous">
          <a href="{{ .Paginator.Prev.URL | absURL }}" class="h5">&larr; Newer</a>
        </li>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <li class="next">
          <a href="{{ .Paginator.Next.URL | absURL }}" class="h5">Older &rarr;</a>
        </li>
        <li class="last">
          <a href="{{ .Paginator.Last.URL | absURL }}" class="h5">Oldest &rarr;</a>
        </li>
      {{ end }}
    </ul>
  </div>
{{ end }}
