/*
 *  MIXINS & IMPORTS & VARIABLES
 */
/**
 * From: https://css-tricks.com/between-the-lines/
 *
 * Computes a CSS calc function that betweens a value from
 * A to B over viewport-width A to viewport-width B.
 * Requires a media query to cap the value at B.
 */
/**
 * Mixin to apply base and media queried values
 * for the between @function.
 * Defaults to/from: $small/$large, but can be overridden.
 */
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,700");
/*
 *  RESETS
 */
/*! sanitize.css v5.0.0 | CC0 License | github.com/jonathantneal/sanitize.css */
/* Document (https://html.spec.whatwg.org/multipage/semantics.html#semantics)
   ========================================================================== */
/**
 * 1. Remove repeating backgrounds in all browsers (opinionated).
 * 2. Add box sizing inheritence in all browsers (opinionated).
 */
*,
::before,
::after {
  background-repeat: no-repeat;
  /* 1 */
  box-sizing: inherit;
  /* 2 */ }

/**
 * 1. Add text decoration inheritance in all browsers (opinionated).
 * 2. Add vertical alignment inheritence in all browsers (opinionated).
 */
::before,
::after {
  text-decoration: inherit;
  /* 1 */
  vertical-align: inherit;
  /* 2 */ }

/**
 * 1. Add border box sizing in all browsers (opinionated).
 * 2. Add the default cursor in all browsers (opinionated).
 * 3. Prevent font size adjustments after orientation changes in IE and iOS.
 */
html {
  box-sizing: border-box;
  /* 1 */
  cursor: default;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/* Sections (https://html.spec.whatwg.org/multipage/semantics.html#sections)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content (https://html.spec.whatwg.org/multipage/semantics.html#grouping-content)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * Remove the list style on navigation lists in all browsers (opinionated).
 */
nav ol,
nav ul {
  list-style: none; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics (https://html.spec.whatwg.org/multipage/semantics.html#text-level-semantics)
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/*
 * Remove the text shadow on text selections (opinionated).
 * 1. Restore the coloring undone by defining the text shadow (opinionated).
 */
::-moz-selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000;
  /* 1 */
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* 1 */
  color: #000;
  /* 1 */
  text-shadow: none; }

/* Embedded content (https://html.spec.whatwg.org/multipage/embedded-content.html#embedded-content)
   ========================================================================== */
/*
 * Change the alignment on media elements in all browers (opinionated).
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Change the fill color to match the text color in all browsers (opinionated).
 */
svg {
  fill: currentColor; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Tabular data (https://html.spec.whatwg.org/multipage/tables.html#tables)
   ========================================================================== */
/**
 * Collapse border spacing
 */
table {
  border-collapse: collapse; }

/* Forms (https://html.spec.whatwg.org/multipage/forms.html#forms)
   ========================================================================== */
/**
 * Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  margin: 0; }

/**
 * Inherit styling in all browsers (opinionated).
 */
button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-size: inherit;
  line-height: inherit; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * 1. Remove the default vertical scrollbar in IE.
 * 2. Change the resize direction on textareas in all browsers (opinionated).
 */
textarea {
  overflow: auto;
  /* 1 */
  resize: vertical;
  /* 2 */ }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type='checkbox'],
[type='radio'] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive elements (https://html.spec.whatwg.org/multipage/forms.html#interactive-elements)
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting (https://html.spec.whatwg.org/multipage/scripting.html#scripting-3)
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* User interaction (https://html.spec.whatwg.org/multipage/interaction.html#editing)
   ========================================================================== */
/*
 * Remove the tapping delay on clickable elements (opinionated).
 * 1. Remove the tapping delay in IE 10.
 */
a,
area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  /* 1 */
  touch-action: manipulation; }

/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

/* ARIA (https://w3c.github.io/html-aria/)
   ========================================================================== */
/**
 * Change the cursor on busy elements (opinionated).
 */
[aria-busy='true'] {
  cursor: progress; }

/*
 * Change the cursor on control elements (opinionated).
 */
[aria-controls] {
  cursor: pointer; }

/*
 * Change the display on visually hidden accessible elements (opinionated).
 */
[aria-hidden='false'][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  display: inherit;
  position: absolute; }

/*
 * Change the cursor on disabled, not-editable, or otherwise
 * inoperable elements (opinionated).
 */
[aria-disabled] {
  cursor: default; }

img {
  max-width: 100%; }

html {
  color: #222;
  font-family: "Libre Baskerville", serif;
  font-size: 1em;
  line-height: 1.5; }

html,
body {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%; }

hr {
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
  border: 0;
  border-top: 1px solid #ccc; }

fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

/*
 *  MAIN STYLES
 */
h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  text-transform: uppercase; }

h1,
.h1 {
  font-size: 3em; }

h2,
.h2 {
  font-size: 2.5em; }

h3,
.h3 {
  font-size: 2em; }

h4,
.h4 {
  font-size: 1.5em; }

h5,
.h5 {
  font-size: 1.25em; }

h6,
.h6 {
  font-size: 1em;
  font-weight: bold; }

figure {
  margin: 0; }

ul {
  list-style-type: circle; }

code {
  background: rgba(0, 0, 0, 0.07);
  color: rgba(0, 0, 0, 0.7); }

pre {
  padding: 0.5em 1em;
  background: rgba(0, 0, 0, 0.07); }
  pre code {
    background: none; }

body {
  display: grid;
  grid-template-columns: 8rem 1fr;
  grid-template-rows: 3rem 2rem 8rem auto 2rem 1fr 2rem auto 2rem auto;
  grid-template-areas: 'n n' '. .' 'h .' '. .' '. .' 'm m' '. .' 'c c' '. .' 'f f';
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 500px), linear-gradient(to top, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0) 500px), linear-gradient(to bottom, rgba(252, 250, 248, 0.75) 0, rgba(252, 250, 248, 0.75) 100%), url("../img/paper.jpg"); }
  @media screen and (min-width: 40em) {
    body {
      grid-template-columns: 1fr 7rem minmax(11rem, 56rem) 1rem 2rem 4rem minmax(2rem, 1fr);
      grid-template-rows: 2rem 3.5rem 4.5rem minmax(0, auto) 2rem 1fr 2rem auto 2rem auto 2rem;
      grid-template-areas: '. . . . . n .' 'h h . . . n .' 'h h . . . . .' '. . . . . . .' '. . . . . . .' 'm m m m m m m' '. . . . . . .' 'c c c c c c c' '. . . . . . .' '. f f f f f f' '. . . . . . .'; } }

.type-page,
.kind-section {
  grid-template-rows: 3rem 2rem 8rem auto 2rem 1fr 2rem auto;
  grid-template-areas: 'n n' '. .' 'h .' '. .' '. .' 'm m' '. .' 'f f'; }
  @media screen and (min-width: 40em) {
    .type-page,
    .kind-section {
      grid-template-rows: 2rem 3.5rem 4.5rem minmax(0, auto) 2rem 1fr 2rem auto 2rem;
      grid-template-areas: '. . . . . n .' 'h h . . . n .' 'h h . . . . .' '. . . . . . .' '. . . . . . .' 'm m m m m m m' '. . . . . . .' '. f f f f f f' '. . . . . . .'; } }

.kind-home {
  grid-template-columns: 1fr;
  grid-template-rows: 3rem auto 2rem 1fr 2rem auto;
  grid-template-areas: 'n' 'h' '.' 'm' '.' 'f'; }
  @media screen and (min-width: 40em) {
    .kind-home {
      grid-template-columns: 1fr 7rem minmax(11rem, 56rem) 1rem 2rem 4rem minmax(2rem, 1fr);
      grid-template-rows: 2rem 3.5rem 4.5rem minmax(0, auto) 2rem 1fr 2rem auto 2rem;
      grid-template-areas: '. . . . . n .' 'h h h h . n .' 'h h h h . . .' 'h h h h . . .' '. . . . . . .' 'm m m m m m m' '. . . . . . .' '. f f f f f f' '. . . . . . .'; } }

.siteheader {
  z-index: 2;
  display: grid;
  grid-template-columns: minmax(1rem, 1fr) 7rem;
  grid-area: h;
  min-width: 8rem;
  background: #000; }
  .siteheader > .inner {
    grid-column: 2 / 3; }
  .kind-home .siteheader {
    display: grid;
    grid-template-columns: minmax(0.5rem, 1fr) 7rem minmax(11rem, 56rem) 0.5rem;
    min-width: 20rem;
    padding: 1rem 0; }
    .kind-home .siteheader > .inner {
      grid-column: 2 / 4;
      color: #fff; }
    .kind-home .siteheader h1 {
      margin: 1rem 0;
      padding: calc(1.5em + 0.5rem) 0 0 0;
      background: url("../img/logo2.min.svg") no-repeat left top;
      background-size: 1.5em;
      font-size: 4em;
      font-weight: 700;
      line-height: 1.5; }
      @media screen and (min-width: 48em) {
        .kind-home .siteheader h1 {
          padding: 0 0 0 calc(1.5em + 1rem);
          background-position: left center; } }
    .kind-home .siteheader p {
      font-size: 0.875em;
      max-width: 40em;
      margin: 1rem 0; }
      @media (min-width: 20em) {
        .kind-home .siteheader p {
          font-size: calc(0.75em + 0.625vw); } }
      @media (min-width: 80em) {
        .kind-home .siteheader p {
          font-size: 1.25em; } }
    @media screen and (min-width: 40em) {
      .kind-home .siteheader {
        grid-template-columns: minmax(1rem, 1fr) 7rem minmax(11rem, 56rem) 1rem; } }
  .siteheader .logo {
    width: 6rem;
    height: 6rem;
    margin: 1rem 0; }

.pageheader {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: minmax(0.5rem, 1fr) minmax(18rem, 70rem) minmax(0.5rem, 1fr);
  grid-template-rows: 11.5rem minmax(0, auto) 1.5rem;
  grid-template-areas: '. . .' '. t .' '. . .';
  grid-area: 2 / 1 / 5 / -1;
  border-bottom: 1rem solid #fff;
  background: rgba(0, 0, 0, 0.85);
  background-position: center;
  background-size: cover; }
  .type-page .pageheader {
    grid-template-rows: 12.5rem minmax(0, auto) 3rem; }
  .pageheader .inner {
    position: relative;
    grid-area: t; }
  .pageheader h1 {
    font-size: 2.5em;
    margin: 0;
    color: #fff;
    font-weight: 700;
    line-height: 1.2;
    text-shadow: 0 0 1rem black; }
    @media (min-width: 20em) {
      .pageheader h1 {
        font-size: calc(2em + 2.5vw); } }
    @media (min-width: 80em) {
      .pageheader h1 {
        font-size: 4em; } }
    .type-page .pageheader h1 {
      font-size: 3em; }
      @media (min-width: 20em) {
        .type-page .pageheader h1 {
          font-size: calc(2em + 5vw); } }
      @media (min-width: 80em) {
        .type-page .pageheader h1 {
          font-size: 6em; } }
  .pageheader .subtitle {
    font-size: 1.5rem;
    position: absolute;
    top: calc(100% + 1.5rem);
    left: 0;
    margin: 0;
    padding: 0 0.5rem;
    background: white;
    transform: translateY(-33%); }
    @media (min-width: 20rem) {
      .pageheader .subtitle {
        font-size: calc(1.33333rem + 0.83333vw); } }
    @media (min-width: 80rem) {
      .pageheader .subtitle {
        font-size: 2rem; } }
    @media screen and (min-width: 40em) {
      .pageheader .subtitle {
        top: calc(100% + 2rem); } }
    @media screen and (min-width: 48.5em) {
      .pageheader .subtitle {
        top: calc(100% + 3rem); } }
  @media screen and (min-width: 40em) {
    .pageheader {
      grid-template-columns: minmax(1rem, 1fr) minmax(18rem, 70rem) minmax(1rem, 1fr);
      grid-template-rows: 11.5rem minmax(0, auto) 2rem;
      grid-area: 1 / 1 / 5 / -1; } }
  @media screen and (min-width: 48.5em) {
    .pageheader {
      grid-template-rows: 12.5rem minmax(0, auto) 3rem; } }

.headerimage__credit {
  font-size: 0.625rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-family: sans-serif;
  font-style: italic;
  text-shadow: 0 0 0.25rem black, 0 0 0.5rem rgba(0, 0, 0, 0.75), 0 0 1rem rgba(0, 0, 0, 0.5); }
  @media (min-width: 20rem) {
    .headerimage__credit {
      font-size: calc(0.5625rem + 0.3125vw); } }
  @media (min-width: 80rem) {
    .headerimage__credit {
      font-size: 0.8125rem; } }
  .headerimage__credit a {
    background: none;
    color: #fff;
    text-decoration: none; }
    .headerimage__credit a:hover {
      background: none;
      color: #fff; }
  @media screen and (min-width: 40em) {
    .headerimage__credit {
      top: auto;
      right: 0.5rem;
      bottom: 0.5rem; } }

.sitenav {
  position: sticky;
  top: 0;
  z-index: 3;
  grid-area: n;
  background: #fff; }

.sitenav__toggle {
  position: relative;
  display: block;
  width: 3rem;
  height: 3rem;
  overflow: hidden;
  box-shadow: 0 0 0 0 #000 inset;
  transition: 250ms; }
  .sitenav__toggle:hover {
    background: #000;
    box-shadow: 0 0 0 0.5rem #000 inset; }
    .sitenav__toggle:hover span, .sitenav__toggle:hover::before, .sitenav__toggle:hover::after {
      background: #fff; }
  .sitenav__toggle span, .sitenav__toggle::before, .sitenav__toggle::after {
    position: absolute;
    left: 50%;
    display: block;
    width: 1.5rem;
    height: 1px;
    background: #000;
    transform: translateX(-50%);
    transition: 250ms; }
  .sitenav__toggle span {
    top: 50%;
    text-indent: -999px; }
  .sitenav__toggle::before, .sitenav__toggle::after {
    content: ''; }
  .sitenav__toggle::before {
    top: calc(50% - 0.5rem); }
  .sitenav__toggle::after {
    top: calc(50% + 0.5rem); }
  @media screen and (min-width: 40em) {
    .sitenav__toggle {
      margin: 2rem auto 0; } }

main {
  font-size: 0.875rem;
  display: grid;
  grid-template-columns: minmax(0.5rem, 1fr) minmax(19rem, 45rem) auto minmax(0.5rem, 1fr);
  align-content: start;
  grid-area: m; }
  @media (min-width: 20rem) {
    main {
      font-size: calc(0.83333rem + 0.20833vw); } }
  @media (min-width: 80rem) {
    main {
      font-size: 1rem; } }
  @media screen and (min-width: 40em) {
    main {
      grid-template-columns: minmax(1rem, 1fr) minmax(25rem, 45rem) minmax(0, 25rem) minmax(1rem, 1fr); } }

.allposts {
  display: grid;
  grid-template-columns: minmax(0.5rem, 1fr) minmax(19rem, 45rem) auto minmax(0.5rem, 1fr);
  grid-column: 1 / -1;
  margin: 0.65em 0 0.35em; }
  .allposts > .inner {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    grid-column: 2 / -1; }
  .allposts::before {
    content: '';
    display: block;
    grid-column: 1 / 2;
    background: #fff; }
  .allposts a {
    display: inline-block;
    padding: 0.25em 0.5em 0.25em 0;
    background: #fff;
    text-shadow: 0 0 0 #64ff00, 0 0 0 red, 0 0 0 blue;
    transition: 0.75s; }
    .allposts a:hover {
      background: #fff;
      color: transparent;
      text-shadow: 0.25rem -0.15rem 0 #64ff64, 0.3rem 0.2rem 0 #ff6464, -0.25rem -0.05rem 0 #6464ff;
      transition: 0.25s; }
  @media screen and (min-width: 40em) {
    .allposts {
      grid-template-columns: minmax(1rem, 1fr) minmax(25rem, 45rem) minmax(0, 25rem) minmax(1rem, 1fr); } }

.pagination {
  display: grid;
  grid-template-columns: minmax(0.5rem, 1fr) minmax(19.5rem, 45rem);
  grid-column: 1 / 3;
  margin: 0.65em 0 0.35em; }
  .pagination::before {
    content: '';
    display: block;
    grid-column: 1 / 2;
    background: white; }
  .pagination ul {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    grid-column: 2 / 3;
    list-style: none;
    margin: 0;
    padding: 0; }
  .pagination li {
    padding: 0.5rem 0;
    background: white; }
  .pagination a {
    display: block;
    margin: 0 0.5rem 0 0;
    padding: 0.25rem 0.5rem 0.25rem 0;
    text-shadow: 0 0 0 #64ff00, 0 0 0 red, 0 0 0 blue;
    transition: 0.75s; }
    .pagination a:hover {
      background: none;
      color: transparent;
      text-shadow: 0.25rem -0.15rem 0 #64ff64, 0.3rem 0.2rem 0 #ff6464, -0.25rem -0.05rem 0 #6464ff;
      transition: 0.25s; }
  @media screen and (min-width: 40em) {
    .pagination {
      grid-template-columns: minmax(1rem, 1fr) minmax(25rem, 45rem); } }

.comments {
  display: grid;
  grid-template-columns: minmax(0.5rem, 1fr) minmax(19rem, 45rem) auto minmax(0.5rem, 1fr);
  align-content: start;
  grid-area: c; }
  .comments > .inner {
    grid-column: 2 / 3;
    padding-top: 2rem;
    border-top: 1rem solid white; }
  @media screen and (min-width: 40em) {
    .comments {
      grid-template-columns: minmax(1rem, 1fr) minmax(25rem, 45rem) minmax(0, 25rem) minmax(1rem, 1fr); } }

.sitefooter {
  display: grid;
  grid-template-columns: 0.5rem minmax(19rem, 70rem) minmax(0.5rem, 1fr);
  grid-template-rows: 1rem auto 1rem;
  grid-template-areas: '. . .' '. o .' '. . .';
  grid-area: f;
  background: #fff; }
  .sitefooter > .inner {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'sns' 'toc' 'cats' 'tags' 'colophon';
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-area: o; }
    @media screen and (min-width: 40em) {
      .sitefooter > .inner {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 'sns toc' 'cats tags' 'colophon colophon'; } }
    @media screen and (min-width: 48em) {
      .sitefooter > .inner {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 'sns toc cats' 'tags tags colophon'; } }
    @media screen and (min-width: 65em) {
      .sitefooter > .inner {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: 'sns toc cats tags' 'colophon colophon colophon colophon'; } }
  .sitefooter h3 {
    margin: 0 0 0.5em; }
  @media screen and (min-width: 40em) {
    .sitefooter {
      grid-template-columns: 1rem minmax(18rem, 70rem) minmax(1rem, 1fr); } }

.footer-sns {
  grid-area: sns; }
  .footer-sns ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .footer-sns li {
    margin: 0 0 0.5em; }
  .footer-sns a {
    display: inline-block;
    padding: 0.25em 0.5em;
    background: #e12d82;
    color: #fff;
    text-decoration: none;
    transition: 0.25s; }
    .footer-sns a:hover {
      background: #fff;
      color: #e12d82; }

.footer-toc {
  grid-area: toc; }
  .footer-toc ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .footer-toc a {
    color: #e12d82;
    text-decoration: none; }
    .footer-toc a:hover {
      color: #931551; }

.footer-categories {
  grid-area: cats; }
  .footer-categories ul {
    list-style: none;
    margin: 0;
    padding: 0; }
  .footer-categories a {
    color: #e12d82;
    text-decoration: none; }
    .footer-categories a:hover {
      color: #931551; }

.footer-tags {
  grid-area: tags; }
  .footer-tags ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    list-style: none;
    margin: 0;
    padding: 0; }
  .footer-tags li {
    margin: 0 1em 0.75em 0; }

.tag {
  position: relative;
  display: block;
  padding: 0.25em 0.25em 0.25em 0.5em;
  border-radius: 0.2em;
  background: #f4b3d2;
  color: #660f38;
  font-size: 0.625em;
  text-decoration: none;
  transition: 0.25s; }
  .tag::before {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% - 0.1em);
    display: block;
    width: 0;
    height: 0;
    border-top: 1em solid transparent;
    border-bottom: 1em solid transparent;
    border-left: 1em solid #f4b3d2;
    border-radius: 0.2em;
    transform: translateY(-50%);
    transition: 0.25s; }
  .tag::after {
    content: '';
    position: absolute;
    top: 50%;
    left: calc(100% + 0.05em);
    display: block;
    width: 0.4em;
    height: 0.4em;
    border-radius: 50%;
    background: #fff;
    transform: translateY(-50%); }
  .tag:hover {
    background: #fbe0ec; }
    .tag:hover::before {
      border-left: 1em solid #fbe0ec; }

.colophon {
  grid-area: colophon; }
  .colophon p {
    margin: 0 0 1em; }

.license-icons a {
  color: #666666;
  text-decoration: none;
  transition: 0.25s; }
  .license-icons a:hover {
    color: inherit; }

.license {
  font-size: 0.5rem;
  margin: 0;
  color: #666666;
  text-align: justify; }
  @media (min-width: 20rem) {
    .license {
      font-size: calc(0.45833rem + 0.20833vw); } }
  @media (min-width: 80rem) {
    .license {
      font-size: 0.625rem; } }
  .license a {
    color: #222222;
    text-decoration: none; }
    .license a:hover {
      text-decoration: underline; }

main p,
main ul,
main ol,
main figure,
main h1,
main h2,
main h3,
main h4,
main h5,
main h6,
main blockquote,
main table,
main dl,
main pre,
main hr,
main > div {
  grid-column: 2 / 3; }

main p,
main ul,
main ol,
main figure,
main blockquote,
main table,
main dl,
main pre,
main hr,
main > div {
  margin: 0 0 1.2em; }

main h2,
main h3,
main h4,
main h5,
main h6 {
  margin: 0.5em 0 0; }

main h2,
main h3.h2,
main h4.h2,
main h5.h2,
main h6.h2 {
  margin-bottom: 0.48em; }

main h3,
main h2.h3,
main h4.h3,
main h5.h3,
main h6.h3 {
  margin-bottom: 0.6em; }

main h4,
main h2.h4,
main h3.h4,
main h5.h4,
main h6.h4 {
  margin-bottom: 0.8em; }

main h5,
main h2.h5,
main h3.h5,
main h4.h5,
main h6.h5 {
  margin-bottom: 0.96em; }

main h6,
main h2.h6,
main h3.h6,
main h4.h6,
main h5.h6 {
  margin-bottom: 1.2em; }

main p {
  line-height: 1.8; }

main pre {
  overflow: auto; }

main ul,
main ol {
  padding: 0 0 0 1.5em; }

main table {
  border: 1px solid #222;
  border-collapse: collapse; }

main th,
main td {
  border: 1px solid #222; }

main blockquote {
  padding: 0.5em 1em;
  background: rgba(255, 255, 255, 0.5);
  font-size: 0.875em; }
  main blockquote p {
    margin: 0.5em 0; }
  main blockquote cite {
    display: block;
    text-align: right; }
    main blockquote cite::before {
      content: '-'; }

main a {
  background: white;
  color: inherit;
  text-decoration: none;
  transition: 0.25s; }
  main a:hover {
    background: black;
    color: white; }

main h3 a,
main h2 a {
  background: none;
  color: inherit;
  transition: 0.25s; }
  main h3 a:hover,
  main h2 a:hover {
    background: none;
    color: inherit; }

.footnotes {
  font-size: 0.75em; }
  .footnotes a {
    background: none; }
    .footnotes a sup {
      background: white; }
    .footnotes a:hover {
      background: none; }
      .footnotes a:hover sup {
        background: black; }

.lede + p::first-letter {
  float: left;
  margin: 0.33em 0.5rem 0 0;
  font-size: 5.6em;
  line-height: 0.33; }

.kind-page .lede,
.well {
  position: relative;
  grid-column: 2 / 4;
  max-width: 55rem;
  margin: 0.8em 0 2.4em;
  padding: 0.8em;
  background: rgba(255, 255, 255, 0.5);
  font-size: 1.25em;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1), 0 0 2rem rgba(255, 255, 255, 0.33) inset; }
  .kind-page .lede::before,
  .well::before {
    content: '';
    position: absolute;
    top: -10rem;
    left: -10rem;
    z-index: -1;
    display: block;
    width: 788px;
    max-width: calc(100% + 10.5rem);
    height: 600px;
    background: url("../img/paint1.png"); }

.well p {
  margin: 0; }

.kind-home .posts,
.kind-home .arts {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
  grid-column: 2 / 4; }
  .kind-home .posts h2,
  .kind-home .arts h2 {
    grid-column: 1 / -1;
    border-bottom: 0.25em solid #fff;
    border-bottom: 3px solid #222; }
  @media screen and (min-width: 40em) {
    .kind-home .posts,
    .kind-home .arts {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 48.5em) {
    .kind-home .posts,
    .kind-home .arts {
      grid-template-columns: 1fr 1fr 1fr; } }

.kind-home .post {
  padding-bottom: 2rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25); }
  .kind-home .post:last-child {
    padding-bottom: 0;
    border-bottom-width: 0; }
  .kind-home .post h3 {
    margin-top: 0; }
  .kind-home .post figure {
    position: relative; }
  @media screen and (min-width: 40em) {
    .kind-home .post {
      padding-bottom: 0;
      border-bottom: 0; } }

.kind-home .post-0 {
  grid-column: 1 / -1; }
  .kind-home .post-0:last-child {
    padding-bottom: 0;
    border-bottom: 0; }

@media screen and (min-width: 40em) {
  .kind-home .post {
    font-size: 0.75em; }
  .kind-home .post-0 {
    padding-bottom: 2rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 1em; }
  .kind-home .post-2,
  .kind-home .post-3 {
    position: relative; }
  .kind-home .post-2::before,
  .kind-home .post-3::before,
  .kind-home .post-3::after {
    content: '';
    position: absolute;
    display: block;
    width: 1px;
    height: calc(100% + 1rem);
    background: rgba(0, 0, 0, 0.25); }
  .kind-home .post-2::before {
    top: -1rem;
    left: -1rem; }
  .kind-home .post-3::before {
    top: -1rem;
    left: calc(100% + 1rem); }
  .kind-home .post-3::after {
    top: -1rem;
    left: 0;
    width: calc(100% + 1rem);
    height: 1px; } }

@media screen and (min-width: 48.5em) {
  .kind-home .post-3::before {
    left: -1rem;
    display: block; }
  .kind-home .post-3::after {
    display: none; } }

.kind-section .post figure {
  position: relative;
  margin-top: 2.4em; }

.kind-section .post:nth-child(2) h2 {
  margin-top: 0; }

.kind-section .post:nth-child(2) figure {
  margin-top: 0; }

.post-meta.post-meta-top {
  grid-column: 2 / 4;
  max-width: 55rem;
  font-size: 0.875em; }
  .post-meta.post-meta-top .inner {
    display: inline-block;
    padding: 0.5em;
    background: rgba(255, 255, 255, 0.5); }
  @media screen and (min-width: 40em) {
    .post-meta.post-meta-top {
      margin-top: -1.2em;
      text-align: right; } }
  @media screen and (min-width: 48.5em) {
    .post-meta.post-meta-top {
      margin-top: -2rem; }
      .post-meta.post-meta-top .inner {
        background: #fff; } }

.date {
  font-style: italic; }

.author {
  font-style: italic; }

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  list-style: none;
  margin: 0 0 1.37em;
  padding: 0;
  font-size: 0.875rem; }
  .categories li {
    margin-right: 0.5rem; }
  .categories a {
    display: block;
    padding: 0.25rem 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    color: inherit; }

.readmore {
  display: inline-block;
  padding: 0.5em;
  background: transparent;
  background: rgba(255, 255, 255, 0.5);
  color: #fff;
  color: inherit; }

.task-list {
  list-style: none;
  padding: 0; }

.sitemain .align-left,
.sitemain .align-right,
.sitemain .align-middle,
.sitemain .align-narrow,
.sitemain .align-wide,
.sitemain .align-pop-left,
.sitemain .align-pop-right {
  grid-column: 1 / -1; }

.sitemain .align-left {
  text-align: right; }

.sitemain .align-right,
.sitemain .align-middle {
  text-align: left; }

.sitemain .align-wide,
.sitemain .align-narrow,
.sitemain .align-pop-left,
.sitemain .align-pop-right {
  text-align: center; }

@media screen and (min-width: 40em) {
  .sitemain .align-left,
  .sitemain .align-right,
  .sitemain .align-middle {
    grid-column: 2 / 4; }
  .sitemain .align-narrow,
  .sitemain .align-pop-left,
  .sitemain .align-pop-right {
    grid-column: 2 / 3; } }

@media screen and (min-width: 48em) {
  .sitemain .align-pop-right {
    position: relative;
    grid-column: 3 / 4; }
    .sitemain .align-pop-right > * {
      position: absolute;
      top: 0;
      left: 1rem;
      max-width: calc(100% - 1rem); } }

@media screen and (min-width: 72em) {
  .sitemain .align-left {
    grid-column: 1 / 3; }
  .sitemain .align-right {
    grid-column: 2 / -1; } }

@media screen and (min-width: 85em) {
  .sitemain .align-pop-left {
    position: relative;
    grid-column: 1 / 2; }
    .sitemain .align-pop-left > * {
      position: absolute;
      top: 0;
      right: 1rem;
      max-width: calc(100% - 1rem); } }

.contact-form-input {
  margin: 0 0 1em; }

.contact-form-input__label {
  display: block; }

.contact-form-input__input--text,
.contact-form-input__input--email,
.contact-form-input__input--textarea {
  display: block;
  width: 100%;
  padding: 0.5em;
  border: 0;
  border-radius: 0.25em;
  background: #fff; }

.contact-form-input__input--textarea {
  height: 8em; }

.contact-form-input__input--submit {
  padding: 0.25em 1em;
  border: 0;
  border-radius: 0.25em;
  background: #e12d82;
  color: #fff;
  font-size: 1.25em;
  transition: 0.25s; }
  .contact-form-input__input--submit:hover {
    background: #fff;
    color: #e12d82; }

.temporary-home-page-menu {
  grid-column: 1 / -1;
  padding: 0.5rem;
  background: #000;
  font-family: "Oswald", sans-serif;
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase; }
  .temporary-home-page-menu ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    list-style: none;
    margin: 0;
    padding: 0; }
  .temporary-home-page-menu a {
    display: block;
    margin: 0 0.5rem 0 0;
    padding: 0.5rem;
    background: none;
    color: #fff;
    text-shadow: 0 0 0 yellow, 0 0 0 cyan, 0 0 0 magenta;
    transition: 0.75s; }
    .temporary-home-page-menu a:hover {
      color: transparent;
      text-shadow: 0.25rem -0.15rem 0 yellow, 0.3rem 0.2rem 0 cyan, -0.25rem -0.05rem 0 magenta;
      transition: 0.25s; }
  @media screen and (min-width: 40em) {
    .temporary-home-page-menu {
      grid-column: 2 / -1; }
      .temporary-home-page-menu ul {
        justify-content: flex-start; } }

/*
 *  OTHER STYLES
 */
.clearfix::after {
  content: '';
  display: block;
  clear: both; }

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *::before,
  *::after,
  *::first-letter,
  *::first-line {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
    box-shadow: none !important;
                                   http://www.sanbeiji.com/archives/953 */
    text-shadow: none !important; }
  a,
  a:visited {
    text-decoration: underline; }
  a[href]::after {
    content: " (" attr(href) ")"; }
  abbr[title]::after {
    content: " (" attr(title) ")"; }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^='#']::after,
  a[href^='javascript:']::after {
    content: ''; }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }
  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group; }
  tr,
  img {
    page-break-inside: avoid; }
  img {
    max-width: 100% !important; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }
  h2,
  h3 {
    page-break-after: avoid; } }

/*# sourceMappingURL=styles.css.map */
